@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue:  #643137;
	--light-blue:  rgb(226, 226, 226);
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}

.upload {
	/* width: 100vw; */
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* min-height: 100vh; */
	background: var(--light-blue);
    /* display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    border-radius: 1rem;
    overflow: hidden;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .5);
    z-index: 3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); */
}


.containerUpload {
	max-width: 400px;
	width: 100%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
	padding: 30px;
	margin: 30px;
	border-radius: 30px;
	backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .5);
    z-index: 3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.file-area {
	position: relative;
	width: 100%;
	height: 340px;
	/* background: var(--grey); */
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(to right bottom, rgba(103, 73, 73, 0.547), rgba(107, 80, 80, 0.2));
}
.file-area .icon {
	font-size: 100px;
}
.file-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.file-area p {
	color: #999;

}
.file-area p span {
	font-weight: 600;
}
.file-area img {
	position: absolute;
	/* top: 0;
	left: 0; */
	/* width: 100%; */
	height: 50%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
	/* background-color: #525252; */

}
.file-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.file-area.active:hover::before {
	opacity: 1;
}
.submit-button {
	display: flex;
	justify-content: center;
	padding: 16px 16px;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.submit-button {
	display: flex;
	justify-content: center;
	padding: 16px 16px;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
	margin-bottom: 15px;
}

.select-workers {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}
.containerUpload:first-child {
	margin-right: 20px; /* Adjust the value as needed */
}
























.slider-upload {
    background-color: var(--bg);
    padding: 1rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 2rem;
    /* padding-left: 20vw; */
    font: normal 1rem sans-serif;
}



.cardUpload {
    position: relative;
    width: 40vw;
    height: 50vh;
    background-color:linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
    color: #4f4848;
    border-radius: 1rem;
    /* border: .1rem solid transparent; */
    overflow: hidden;
    /* box-shadow: 0 .2rem .6rem #0003; */
    transition: .5s ease-in-out;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .5);
    z-index: 3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); 

}

.cardUpload:hover {
    border: .1rem solid var(--secondary);
    transform: scale(1.05);
}

.cardUpload::before, .card::after {
    position: absolute;
    content: "";
    background-color: var(--secondary);
    border-radius: 50%;
    transition: .5s ease-in-out;
    z-index: 100;
}

.cardUpload::before {
    top: -6%;
    right: -6%;
    width: 15vh;
    height: 15vh;
}

.cardUpload::after {
    bottom: -6%;
    left: -6%;
    width: 7vh;
    height: 7vh;
}

.cardUpload:hover::before {
    transform: scale(1.8);
}

.cardUpload:hover::after {
    transform: scale(0);
}

.cardUpload:hover .card-imgU,
.cardUpload:hover .card-titleU,
.cardUpload:hover .card-body,
.cardUpload:hover .card-footer {
    transform: translateY(0);
}

  
input[type="file"] {
	display: none;
	visibility: 'hidden';
  }


  .card-imgU {
	margin-top: 10vh;
    width: auto;
    height: 18vh;
}

.card-titleU {
    font-size: 2vh;
    text-transform: capitalize;
    transition-delay: .1s;
}


.card-card-expU {
    font:  3vh sans-serif;
}



.pStyle{
    color: #4f4848;
    padding-left: 22vw;
    padding-right: 22vw;
}



